:root {
  font-family: "Montserrat";
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  background-color: #ecded4;
}

.friends{
  display:flex;
  flex-direction: column;
}

.friends > div{
  display:flex;
  flex-direction: column;
  margin: 30px;
  background-color: #d2c2b2;
  border-radius: 10px;
  width: 500px;
}

.humans {
  padding-left: 75px;
  color: #bb5c3a;
  margin: 50px 0px 50px 0px;
}

.all--pets{
  display: flex;
  flex-direction: column;
  margin: 15px;
  height: 300px;
  overflow:auto;
}

.pets{
  background-color: #b1aa95;
  padding: 15px;
  margin: 15px;
  width: 75%;
  color: #bb5c3a;
  font-weight: 300;
}