:root {
  font-family: "Montserrat";
}

body {
  margin: 0;
  background-color: #ecded4;
}

.header{
  height: 300px;
  display:flex;
  justify-content: space-around;
}

.header > img{
  height:100%;
}

.footer{
  height: 300px;
  display:flex;
  justify-content: space-around;
}

.footer > img{
  height:100%;
}

.friends{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  overflow-y:scroll;
}

.friends > div{
  display:flex;
  margin: 30px;
  background-color: #ecded4;
  border: solid 1px #bb5c3a;
  border-radius: 10px;
  width: 700px;
}

.humans--wrap{
  display:flex;
  align-items: center;
}

.humans {
  padding-left: 75px;
  color: #bb5c3a;
  margin: 50px 0px 50px 0px;
}


.all--pets{
  display: block;
  margin: 15px;
  width: 500px;
  overflow:auto;
}

.pets{
  border-top: solid 0.5px #b1aa95;
  padding: 5px;
  margin: 5px;
  width: 75%;
  color: #bb5c3a;
  font-weight: 200;
  transition: all 0.5s ease-in-out;
}

.pets:last-of-type{
  border-bottom: solid 0.5px #b1aa95;
}

.pets:hover{
  background-color: #b1aa95;
}