@font-face {
    font-family: 'pocket monk';
    src: url(./pokemon/PocketMonk-15ze.ttf) format("truetype");
}

@font-face {
    font-family: 'pokemon';
    src: url(./pokemon/PokemonGb-RAeo.ttf) format("truetype");
}
body{
    margin:none;
    background-image: url(/pokemon/wallpaperflare.com_wallpaper.jpg);
}

.image{
    position:fixed;
    left: 35%;
    height:840px;
}

.pokedex{
    position:fixed;
    overflow: auto;
    height:445px;
    width:460px;
    left:calc(35% + 50px);
    top: 155px;
    background-color: #b1c98b;
}
.title{
    font-family: 'pocket monk';
    font-size: 40px;
    text-align: center;
}

h2{
    font-family: 'pokemon';
    font-size: 20px;
}