@font-face {
    font-family: 'pocket monk';
    src: url(./pokemon/PocketMonk-15ze.ttf) format("truetype");
}

@font-face {
    font-family: 'pokemon';
    src: url(./pokemon/PokemonGb-RAeo.ttf) format("truetype");
}
body{
    margin:none;
}

.image{
    position:fixed;
    left: 35%;
    height:100%;
}

.pokedex{
    position:fixed;
    overflow: auto;
    height:450px;
    width:450px;
    left:650px;
    top: 150px;
}
.title{
    font-family: 'pocket monk';
    font-size: 40px;
    text-align: center;
}

h2{
    font-family: 'pokemon';
    font-size: 20px;
}