.counter{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;;
}

#button{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #046307;
    padding: 30px
}

#counter{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #046307;
    padding: 10px
}

#timer{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #046307;
    padding: 10px
}

#previous{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #046307;
}

#return{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #046307;
}