#header{
padding:20px;
font-family:'Times New Roman', Times, serif;
font-size: 20px;
color: black;
border: 5px solid white;
border-radius: 15px;
background-color:#6b705c;
}

#sidebar1{
padding:20px;
font-family:'Times New Roman', Times, serif;
font-size: 20px;
color: black;
border: 5px solid white;
border-radius: 15px;
background-color:#a5a58d;
}

#content {
padding:20px;
font-family:'Times New Roman', Times, serif;
font-size: 20px;
color: black;
border: 5px solid white;
border-radius: 15px;
background-color:#b7b7a4;
}

#sidebar2{
padding:20px;
font-family:'Times New Roman', Times, serif;
font-size: 20px;
color: black;
border: 5px solid white;
border-radius: 15px;
background-color:#ddbea9;
}

#footer{
padding:20px;
font-family:'Times New Roman', Times, serif;
font-size: 20px;
color: black;
border: 5px solid white;
border-radius: 15px;
background-color:#cb997e;    
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
.container {
    height:100%;
    display:grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (5, 1fr)
}

#header{
    padding:20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    border: 5px solid white;
    border-radius: 15px;
    background-color:#6b705c;
    grid-column: 1/5;
    }
    
    #sidebar1{
    padding:20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    border: 5px solid white;
    border-radius: 15px;
    background-color:#a5a58d;
    grid-column: 1/2;
    }
    
    #content {
    padding:20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    border: 5px solid white;
    border-radius: 15px;
    background-color:#b7b7a4;
    grid-column: 2/5;
    }
    
    #sidebar2{
    padding:20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    border: 5px solid white;
    border-radius: 15px;
    background-color:#ddbea9;
    grid-column: 1/5;
    }
    
    #footer{
    padding:20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    border: 5px solid white;
    border-radius: 15px;
    background-color:#cb997e; 
    grid-column: 1/5;   
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        height:100%;
        display:grid;
        grid-template-columns: repeat (4, 1fr);
        grid-template-rows: repeat (3, 1fr)
    }
    
    #header{
        padding:20px;
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
        color: black;
        border: 5px solid white;
        border-radius: 15px;
        background-color:#6b705c;
        grid-column: 1/5;
        }
        
        #sidebar1{
        padding:20px;
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
        color: black;
        border: 5px solid white;
        border-radius: 15px;
        background-color:#a5a58d;
        grid-column: 1/2;
        }
        
        #content {
        padding:20px;
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
        color: black;
        border: 5px solid white;
        border-radius: 15px;
        background-color:#b7b7a4;
        grid-column: 2/4;
        }
        
        #sidebar2{
        padding:20px;
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
        color: black;
        border: 5px solid white;
        border-radius: 15px;
        background-color:#ddbea9;
        grid-column: 4/5;
        }
        
        #footer{
        padding:20px;
        font-family:'Times New Roman', Times, serif;
        font-size: 20px;
        color: black;
        border: 5px solid white;
        border-radius: 15px;
        background-color:#cb997e; 
        grid-column: 1/5;   
        }
}