.container {
    font-family: "montserrat";
  }
  
  .footer,
  .header {
    display: flex;
    justify-content: space-around;
    background-color: #e46b72;
    padding: 30px;
    width: 100%
  }
  
  
  .footer {
    margin-top: auto;
    font-size: 60px;
  }
  
  .footer > a{
    color:black;
  }
  
  .footer >a:hover{
    color:#8e1d1f
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .title>h1,
  h4 {
    margin: 0
  }
  
  .nav {
    display: flex;
    justify-content: space-around;
    width: 400px;
    list-style-type: none;
  }
  
  .navItems {
    transition: all 0.5s ease-in-out;
    padding: 10px 20px 10px 20px;
    color: black;
    font-size: 20px;
    border-radius: 10px;
  
  }
  
  .link {
    text-decoration: none;
  }
  
  .navItems:hover {
    background-color: #8e1d1f;
    color: #adc0ce
  }
  
  .cook,
  .favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    position: relative;
    height: 100%;
    width: 100%;
  
  }
  
  .search {
    min-height: 75vh;
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
  
  .search>form {
    grid-row: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .search>form>input,
  button {
    height: 30px;
    width: 50%;
    border-radius: 5px;
    margin: 15px;
    background-color: rgba(173, 192, 206, 0.35);
    border: none;
    transition: all 0.5s ease-in-out;
  }
  
  .search>form>input:hover,
  button:hover {
    background-color: #adc0ce;
  }
  
  
  .recipeList {
    grid-row: 2/5;
    max-height: 50vh;
    overflow: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recipe{
    width: 60%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    background-color: rgba(50,115,49, 0.15) ;
  }
  
  .recipe--details{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .recipe > button{
    width: 200px;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
  }
  
  .recipe > button:hover{
    background-color: #adc0ce;
  }